<article>
    <p>welcome</p>
    <div>
<<<<<<< HEAD
        <div class="random-dream">Dream Info Goes Here</div>
        <p>{{likes}}</p>
        <button>upvote</button>
        <button>downvote</button>
        <p>{{dislikes}}</p>
        <button id="share">Share To Twitter</button>
=======
        <div>{{dreams.title}}</div>
        <div class="random-dream">{{dreams.dream_story}}</div>
        <p>{{dreams.upvote}}</p>
        <button>upvote</button>
        <button>downvote</button>
        <p>{{dreams.downvote}}</p>
        <div class="sharethis-inline-share-buttons"></div>
>>>>>>> testing-branch
    </div>
</article>